# EplayerX 会员解锁远程重写
^https:\/\/api\.revenuecat\.com\/v1\/(subscribers|receipts) url script-response-body https://raw.githubusercontent.com/shenao0308/IOS-rewrite/refs/heads/main/EplayerPro.js

hostname = api.revenuecat.com
